<div class="container">
  <div class="row">
    <div class="col-md-12">

      <div class="panel panel-default panel-custom">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12 col-sm-8">
              <h2>Mike Anamendolla</h2>
              <div class="col-xs-4 col-sm-4">
                <h2><strong> 20,7K </strong></h2>
                <p><small>Followers</small></p>
              </div><!--/col-->
              <div class="col-xs-4 col-sm-4">
                <h2><strong>245</strong></h2>
                <p><small>Following</small></p>
              </div><!--/col-->
              <div class="col-xs-4 col-sm-4">
                <h2><strong>43</strong></h2>
                <p><small>Vidbeads</small></p>
              </div><!--/col-->
            </div><!--/col-->
            <div class="col-xs-12 col-sm-4 text-center">
              <img src="http://api.randomuser.me/portraits/men/49.jpg" alt="" class="center-block img-circle img-responsive">
              <ul class="list-inline ratings text-center" title="Ratings">
                <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
              </ul>
            </div><!--/col-->

          </div><!--/row-->
        </div><!--/panel-body-->
      </div><!--/panel-->



    </div>
  </div>
</div>
